@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:wght@300&family=Unbounded&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid #011F26;
    padding: 16px;
    background-color: #F2668B;
}

a, a:visited{
    text-decoration: none;
    color: #025E73;
}

main {
    padding: 16px;
}

.grid {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 50%;
}

img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #025E73;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: #03A688;
}

img {
    height: 200px;
}
